:root{
	--fuenteHeading: 'Arial', sans-serif;
  --colorPrimario: #f7be68;
}

html {
    box-sizing:border-box; /* hack para Box Model */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background-color: black;
}

p {
  color: var(--colorPrimario);
}

/*hr {
  width: 100%;
  height: 2px;
  border-top: #f7be68;
  border-color: #f7be68;
  padding: 0;
}*/

/** Globales **/
.contenedor {
    width: min(80%, 120rem);
    margin: 1rem auto 2rem auto;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

section {
  width: 100%;
}

/** Header **/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin: 1rem auto;
  background-color: white;
  align-items: center;
}

.header__logo {
  width: 3%;
  height: 48px;
  margin: 0 2rem 0 2rem;
}

.header__nombre{
  width: 68%;
  margin: 0 0 0 2rem;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
  color: black;
}

.header__nav{
  width: 32%;
  margin: 0 1rem 0 1rem;
  line-height: 1.6;
}

.header__nav a{
  margin: 0 1rem 0 1rem;
}


/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin: 2rem auto;
  background-color: white;
  align-items: center;
}

.footer__nombre {
  width: 68%;
  margin: 0 0 0 2rem;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
  color: black;
}

.footer__nav {
  width: 30%;
  margin: 0 1rem 0 1rem;
  line-height: 1.6;
}

.footer__nav a {
  margin: 0 1rem 0 1rem;
}

.footer__nav__iconos {
	width: 15%;
	margin-top: 0.8rem;
}
/** slide **/

.container {
    box-shadow: 0 2px 4px rgba(247, 190, 104, 0.8), 0 4px 12px rgba(247, 190, 104, 0.8);
    margin: 2rem auto;
    padding-top: 2rem;
    background-color: var(--colorPrimario);
    width: 90%;
    padding: 10px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 500px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
	width: inherit;
	height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li:first-child{
	opacity: 1;
}

ul.slider li:target{
	opacity:1;
}

ul.slider li img{  
  /*width: 100%;
  height: 300px;*/
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.nav-menu{
position:relative;
}

.menu{
  text-align: center;
  margin: 0.5rem 0;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: var(--colorPrimario);
  text-decoration: none;
  background-color: black;
  padding: 0.4rem;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 100%;
}

.menu li a:hover{
	background-color: #00324b;
	color: #f90;
}

.menu li a:active{
	background:#f90;
	color:#00324b;
}
/*Fin slide*/

/*Linea separadora*/
h2 {
  color: var(--colorPrimario);
  font-size: 22px;
  font-weight: 200;
  padding: 0 0.8;
  width: 10%;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0.20rem 0;
}

.contenedor>h2 {
  border-color: var(--colorPrimario);
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 0 0 0 0.5rem;
  width: 98%;
}

#elemento {
  margin-top: 2rem;
  margin-left: 0.5rem;
  display: inline-block;
  width: 48%;
  border: 1px solid #f7be68;
}

.elemento__imagen img {
	object-fit: cover;
	width: 23.8rem;
	height: 17rem;
	margin: 0 0 -1rem 0;
}

.elemento__nombre {
  height: 20%;
  display: block;
  text-align: center;
  border-top: 1px solid #f7be68;
}